{% extends "events/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  	<div class="row">

        <div class="col mx-5">

            <div class="card card-body">
            	<div class="row pull-left">
            		<div class="col">
						<h1>General Information</h1>
						<div class="img-fluid" width="150px" height="auto">
							<img class="img" alt="{{ user.name }}" src="{{ user.profile.image.url }}">
           				</div>
						<ul>
							<li> Email: {{ user.email }}</li>
							<li> Name: {{ user.username }}</li>
							<li> Staff ID: SID- {{ user.id }}</li>
              			</ul>
              		<hr>

						<form method="POST" enctype="multipart/form-data"> 
						{% csrf_token %}
							<fieldset class="form-group">
								<legend class="border-bottom mb-6">Edit Profile Info</legend>
								{{ user_form | crispy }}
								{{ profile_form | crispy }}
							</fieldset>
							<div class="form-group">
								<button class="btn btn-outline-info" type="submit">Save Changes</button>
							</div>
						</form>
					</div>
                </div> 

        </div>

	<hr>

        <div class="container-fluid">

			<h1>Skill List</h1>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta ornare nulla, eu ultricies dolor ultricies vel. Pellentesque id tincidunt justo. Vestibulum ut arcu at justo aliquam ultrices inf eu velit. Donec eget urna odio. Sed interdum risus vel tortor aliquet congue.</li>
			</ul>
		</div> <!-- end userSkillList div -->

	</div>

			<div class="col">

		
​				
              <div class="container-fluid">
                <h1>Attended Events</h1>
                {% for event in events %}
                <div id="evetnList">
                  <div id="eventCard" class="card">
                    <div id="eventCardBody" class="card-body">
                      <img class="img-fluid mx-auto" alt="{{ event.image.name }}" src="{{ event.image.url }}">
                      <div id="eventBrief">
                        <h3>{{ event.event_name }}</h3>
                        <p>{{ event.description }}</p>
                      </div>
                    </div>
                  </div>
​				{% endfor %}

{% endblock content %}