{% extends "events/base.html" %}
{% load static %}
{% block content %}
<div class="container ">
	<h1>List of Staff Memebers</h1>
	
	{% for user in users %}
	{% if user.is_staff %}
	<div class="container card my-2 py-2">
		<div width="100px" height="auto">
		<img class="article-img" alt="{{ user.username }}" src="{{ user.profile.image.url }}">
		</div>
			<div class="container py-2">
				<p>Username: {{ user.username }}</p>
				<p>Email: {{ user.email }}</p>
				<p>StaffID - {{ user.id }}</p>
			</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock content %}
