  body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

  #main-sec{
    
  }

  h1, h2, h3 {
    color: #444444
  }

  footer{
    background-color: #823AAF;
    color: #eeeeee;
    text-align: center;
    margin-top: 5rem;
  }

  ​
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }