body {
  background-color: rgb(112, 37, 117)
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* this css is for the staff members image */
#stockImage {
  max-width: 100%;
  max-height: 100%;
}

#userImageCard {
  margin-top: 15px;
  margin-left: -70px;
}

#userImageCardBody {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* this css is for the staff members general information */

#userInfoCard {
  margin-top: 15px;
  margin-right: -70px;
}

#userInfoCardBody {
  overflow-y: scroll;
  height: 580px;
}

#staffName {
  float: left;
  font-size: 25px;
}

#staffId {
  float: left;
  font-size: 25px;
}

#staffMail{
  float: left;
  font-size: 25px;
}

#eventCard {
  margin-bottom: 15px;
}

#eventCardBody {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#eventImage {
  float: left;
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: 100px;
}

#eventBrief {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}
