{% extends "events/base.html" %}
{% block content %}
<!-- DetailView expects objects named <object> -->
	<div class="wrapper container">

        <div class="card h-100">
        	<div class="card-body">

	        	<img class="img-fluid mx-auto" alt="{{ event.image.name }}" src="{{ event.image.url }}">
		        <h2 class="card-title">{{ event.event_name }}</h2>
		        <!-- <small class="text-muted">{{ event.date_published | date:"d F Y  - H:i" }}</small> -->
		       <hr>
               <p class="card-text"><b>Begins:</b> {{ event.start_date }} <b> Time: </b>{{ event.start_time}} </p>
               <p class="card-text"><b>Ends:</b> {{ event.end_date }} <b> Time: </b>{{ event.end_time}} </p>
		        <p class="card-text">{{ event.description }}</p>
		        <hr>
		        <p class="article-content block"> <b>Location: </b> {{ event.location }}</p>
		        <p class="article-content block"> <b>Author: </b> {{ event.author }}  |  <b> email: </b> {{user.email}} </p>
	    	</div>
	    </div>
	</div>
{% endblock content %}
