{% extends "events/base.html" %}
  {% block content %}

  <!-- Page Content -->
  <div class="container-fluid">
    <!-- Jumbotron Header -->
    <header class="jumbotron mx-5">
      <h1 class="display-3">Welcome to Vision!</h1>
      <p class="lead">Meet greatest tool of event coordination and management using briliant technologies! For more info about us go to About Us page!</p>
      <a href="#" class="btn btn-primary btn-lg">see About Us</a>
    </header>
  </div>
    <div class="container-fluid">
    <!-- Page Features -->
    <div class="row text-center mx-5">
    {% for event in events %}
      <div class="col-sm-2 mb-4 ml-4">
        <div class="card h-100">
          <img class="card-img-top"  alt="{{ event.image.name }}" src="{{ event.image.url }}">
          <div class="card-body">
            <h4 class="card-title">{{ event.event_name }}</h4>
            <p class="card-text">{{ event.description }}</p>
              <p class="card-text"><b>Date:</b> {{ event.datetime_event }} </p>
          </div>
          <div class="card-footer">
            <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</body>


{% endblock content %}